/* src/App.css */
/*
.main-container {
  display: flex;
  height: fit-content;
}
.leftside-profile {
  width: 75%;
  filter: blur(1px);
}
input[type="file"] {
  display: none;
}
.profile {
  width: 100%;
  float: right;
  width: 25%;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  justify-content: center;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
}

.profile-image {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.profile-name {
  margin: 0;
}

.profile-details {
  margin: 5px 0;
}

.main-container {
  height: 1000px;
}
.profil-container {
  float: right;
  display: flex;
}
.btn-profile {
  padding-top: 25px;
  padding-bottom: 30px;
  display: flex;
}
.rounded-button {
  padding: 10px 20px;
  width: 200px;
  font-size: 20px;
  margin-left: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #0a490a;
  color: #fff;
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  color: black;
  background-color: rgb(16, 188, 22);
}

.profile-input {
  font-size: large;
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  outline-color: #1ad81a;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.profile-input:hover {
  border-width: 3px;
  border-color: #1ad81a;
}

.datePicker-input {
  font-size: large;
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  outline-color: #1ad81a;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.datePicker-input:hover {
  border-width: 3px;
  border-color: #1ad81a;
}

.save-btn {
  padding-top: 20px;
}

@media (max-width: 767px) {
  .main-container {
    width: 100%;
    height: max-content;
    display: block;
  }
  .profil-container {
    width: 50%;
    margin-bottom: 30px;
  }

  .profile-edit {
    width: 100%;
  }
}
@media (max-width: 574px) {
  .profile {
    width: 100%;
  }
  .profile-input {
    width: 100%;
  }
  .datePicker-input {
    width: 100%;
  }
  .leftside-profile {
    width: auto;
  }
}
*/
